<%= stylesheet_link_tag "sidebar.css" %>
<!-- Side navigation -->
<div class="sidenav">
  <%= link_to "Home", root_path %>
  <%= link_to "Tags", tags_path(@tags) %>
  <%= link_to "Authors", authors_path(@authors) %>



 

 
</div>

<!-- Page content -->
<div class="main">
  ...
</div>